@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Libre+Baskerville&family=Merriweather:wght@300&family=Roboto:wght@300&display=swap');


body {
	margin: 0;
	font-family: "Merriweather";
}

header {
	min-height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(257deg, rgba(85,111,165,1) 0%, rgba(124,175,174,1) 100%);
	padding: 60px;
}

header h1 {
	font-size: 60px;
	text-align: center;
}

header div {
	margin: auto;
}

main {
	min-height: 80vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 30px;
}

main img {
	height: 200px;
}