:root {
	--animation-size:  10vw;
}

.object {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 2s;
	animation-play-state: running;
}

.object:hover {
  	animation-play-state: paused;
}


@keyframes zigzag {
  0% {
  	transform: translate(0vw, 0vh) rotate(10deg) scale(1.0);
  }
  25% {
  	transform: translate(170vw, 40vh)  rotate(-32deg) scale(3.0);
  }
  50% {
  	transform: translate(0vw, 60vw)  rotate(23deg) scale(0.8);
  }
  75% {
  	transform: translate(170vw, 80vw)  rotate(370deg) scale(2.0);
  }
  100% {
  	transform: translate(-10vw, 120vh)  rotate(23deg) scale(1.2);
  }
}

@keyframes updown {
  0% {
  	transform: translate(0vw, 0vh) rotate(10deg) scale(1.0);
  }
  25% {
  	transform: translate(50vw, 130vh)  rotate(33deg) scale(0.7);
  }
  50% {
  	transform: translate(120vw, -20vw)  rotate(400deg) scale(2.8);
  }
  75% {
  	transform: translate(40vw, 140vw)  rotate(-99deg) scale(1.2);
  }
  100% {
  	transform: translate(130vw, -20vh)  rotate(12deg) scale(2.2);
  }
}


body {
	margin: 0;
}

.wrapper {
	position: relative;
	min-height: 100vh;
	overflow-x: hidden;
	overflow-y: hidden;
}


