p {
    font-size: 20px;
    color: blue;
}


h1 {
    font-size:40px;
    color: red;
    text-align: center;
}

main {
    margin: auto;
    width: 500px;
    background-color: yellowgreen;
    padding: 50px;
}