/*
* title: CSS for  a online course
* author: Paul Opitz
* date:  2021-11-04
*/



/*************** General Styles ********************/
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Libre+Baskerville&family=Open+Sans:wght@300&family=Roboto+Slab:wght@100&display=swap');

:root {
	scroll-behavior: smooth;

	--base-padding: 30px;
	--base-margin: 30px;
	--primary-color: rgb(16, 63, 99, 1.0);
	--primary-color-10: rgb(16, 63, 99, 0.1);
	--primary-color-30: rgb(16, 63, 99, 0.3);
	--primary-color-80: rgb(16, 63, 99, 0.8);
	--primary-color-light: rgb(191, 210, 224, 1.0);
	--theme-1-color: rgb(180, 114, 224, 1);
	--theme-1-color-60: rgb(180, 114, 224, 0.6);
	--theme-1-color-80: rgb(180, 114, 224, 0.8);
	--white: rgb(255, 255, 255, 1.0);
	--white-40: rgb(255, 255, 255, 0.4);
	--white-60: rgb(255, 255, 255, 0.6);
	--white-80: rgb(255, 255, 255, 0.8);
	--basic-font: "Open Sans"; 
	--heading-font: "Roboto Slab";
	--code-font: "Cutive Mone"; 
	--grade-color-neg:  red;
	--grade-color-basic: blue;
	--grade-color-standard: yellow;
	--grade-color-super: green;
}

body {
	margin: 0;
	font-family: var(--basic-font);
}
p {
	margin: 0;
	line-height: 1;
}

h1, h2, h3 {
	font-family: var(--heading-font);
	text-align: center;
	margin: 0;
}
h1 {
	text-transform: uppercase;
	font-size: 40px;
}
h2 {
	font-size: 30px;
}
h3 {
	font-size: 20px;
}

.front {
	display: flex;
	justify-content: center;
	align-items: center;
}
.front div {
	text-align: right;
}
.front h1 {
   font-size: 60px;
  	color: var(--primary-color);
   background-color: var(--white-80);
   padding: 30px 70px;
}
.front h2 {
	font-size: 40px;
	padding: 20px 50px;
	text-align: right;
	display: inline-block;
	transform: rotate(-4deg);
	color: var(--white);
	background-color: var(--theme-1-color);
}

.cover {
	color: var(--white);
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cover div {
	text-align: center;
}

.cover h1 {
	padding: 50px 10vw;
	margin: auto;
	background-color: var(--theme-1-color-80);
}
.cover h2 {
	color: var(--primary-color);
   background-color: var(--white-80);
   padding: 20px 40px;
   transform: rotate(3deg);
   display: inline-block;
}
.cover p {
	font-size: 60px;
	opacity: 0.15;
	background-color: var(--theme-1-color);
	color: white;
}


.info h1 {
	background-color: var(--primary-color-80);
	padding: var(--base-padding) calc(2* var(--base-padding));
	text-align: left;
	padding-top: 150px;
	color: var(--white);
}

.info h2 {
	padding: var(--base-padding) calc(2* var(--base-padding));
	text-align: left;
	margin-bottom: var(--base-margin);
}
.info img {
	width: 75%;
	margin: auto;
	display: block;
}

.memo {
	background-color: var(--primary-color-10);
}

.memo h1 {
	background-color: var(--primary-color-80);
	padding: var(--base-padding) calc(2* var(--base-padding));
	text-align: left;
	padding-top: 150px;
	color: var(--white);
}

.memo ul {
	list-style: none;
	padding: var(--base-padding) calc(2* var(--base-padding));
	font-size: 25px;
}
.memo ul li {
	background-color: var(--white);
	padding: 15px;
	margin-bottom: var(--base-margin);
}
.memo ul li span {
	display: block;
}
.memo ul li span:first-child {
	font-weight: bold;
}

.task h1 {
	background-color: var(--primary-color-80);
	padding: var(--base-padding) calc(2* var(--base-padding));
	text-align: left;
	padding-top: 150px;
	color: var(--white);
}

.task img {
 	width: 75%;
	margin: auto;
	display: block;
}

.task div {
	padding: 80px;
	font-size: 30px;
	color: white;
	min-width: 30%;
	background-color: var(--primary-color-80);
	min-height: 30%;
	bottom: 0;
	right: 0;
}



.material-icons-outlined {
	color: var(--primary-color);
	font-size: 36px;
	padding: calc(var(--base-padding) / 2);
}

.bg {
	background-position: center;
	background-size: cover;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.abs {
	position: absolute;
}
.bottom {
	bottom: 30px;
}
.left {
	left: 30px;
}
.right {
	right: 30px;
}


/*************** Component Styles ********************/

#menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: var(--base-padding);
	background-color: var(--white-80);
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1;
	color: black;
	box-sizing: border-box;
}
#menu h1 {
	font-size: 25px;
	color: var(--primary-color);
}

#navigation {
	background-color: var(--primary-color-light);
	position: fixed;
	left: -100%;
	top: 0;
	width: 80%;
	min-height: 100vh;
	z-index: 2;
	transition: all 0.4s;
	padding: var(--base-padding);
}
#navigation:target {
	left: 0;
	transition: all 0.4s;
}
#navigation #close:hover {
	background-color: var(--primary-color-10);
}

#navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#navigation ul li a {
	color: var(--primary-color);
	text-decoration: none;
	display: block;
	padding: var(--base-padding);
	font-size: 30px;
}
#navigation ul li a:hover {
	background-color: var(--primary-color-10);
}

nav div {
	display: flex;
	padding: var(--base-padding);
	justify-content: space-between;
	align-items: center;
}

main {

}


header, footer, section {
	height: 100vh;
	max-width: 100%;
	box-sizing: border-box;
	border: 1px solid white;
	position: relative;
}


header {
	color: var(--white);
}

section {

}

footer {
	
}






/*************** Page Styles ********************/











