/*
*
* Title: A basic website
* Description: Show how HTML and CSS for a basic site
* Author: Paul Opitz
* Date: 2022-05-08;
*
*
*/

/***************************** General styling for all pages *************************/

body {
	margin: 0;
}

/* Navigation */

nav {
	background-color: lightgrey;
	display: flex;
	/* Logo and list of links should be separated */
	justify-content: space-between;
	align-items: center;
	padding: 40px;
}
nav img {
	height: 100px;
}
nav ul {
	/* The list should not have any bullet points */
	list-style: none;
	/* The list items should be horizontally aligned */
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

nav ul li a {
	color: white;
	font-size: 24px;
	margin: 10px;
	padding: 25px;
	text-decoration: none;
	background-color: steelblue;
	border-radius: 45px; 
	text-transform: uppercase;
}

nav ul li a:hover {
	background-color: #274775;
}


/* Header */
header {
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: lightgrey;
	margin-top: 30px;
	margin-bottom: 30px;
}

header h1 {
	font-size: 50px;
	padding: 70px;
	color: white;
	background-color: steelblue;
}


/* Footer */
footer {
	display: flex;
	/* All divs have same distance to each other */
	justify-content: space-evenly;
	align-items: flex-start;
	background-color: lightgrey;
	padding: 60px;
	margin-top: 30px;
}
footer h2 {
	font-size: 30px;
	font-weight: bold;
	padding: 15px;
	
}
footer p {
	color: black;
	padding: 15px;
	font-size: 20px;
}

footer p a {
	color: white;
	padding: 15px;
	font-size: 20px;
	text-decoration: none;
	border-radius: 20px;
	background-color: steelblue;
}
footer p a:hover {
	background-color: #274775;
}
/* last-child is a pseudo-class, it selects only the last child of an element */
footer div:last-child {
	width: 50%;
}


/***************************** Styling for the home page *************************/

/* Main */
#home main {
	padding: 30px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	/* Makes a line break if not enough space */
	flex-wrap: wrap;
}
#home main article {
	margin: 30px;
	height: 300px;
	width: 300px;
}

#home main article a {
	background-color: steelblue;
	text-decoration: none;
	display: block;
	height: 100%;
}





/***************************** Styling for a detail page *************************/

#detail {

}

#detail main {
	background-color: steelblue;
	height: 700px;
}