/*
Title: Structured CSS example file for a small project with reused components
Author: Paul Opitz
Date: 2021-09-30
*/

/************ General Styling **************/
body {
	margin: 0 auto;
	max-width: 2000px;
}

h1, h2 {
	text-align: center;
}

/************ General Components **********/

/* Nav */
nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 0 60px;
	border: 1px solid black;
}
nav ul li {
	display: inline-block; /* List items should be inline */
}
nav ul li a {
	display: inline-block;
	padding: 15px;
	margin: 15px;
}
nav ul li a:hover {
	background-color: lightgrey;
}

/* Header */
header {
	padding: 60px;
	height: 350px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
}

/* Footer */
footer {
	padding: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid black;
}


/************* Home Page *************/
#home main {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

#home header {
	height: 200px;
}

#home article {
	/* Each article should take a third of the given width */
	width: 33.3%;
	height: 300px;
}
#home article a {
	border: 1px solid black;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#home article a:hover {
	background-color: lightgrey;
}


/*************** Article Page *************/
#article main {
	border: 1px solid black;
	padding: 60px 15%;
	column-count: 2;
	column-gap: 60px;
}
#article p {
	line-height: 1.5;
}
#article img {
	float:left;
	margin: 30px;
	width: 200px;
	height: 200px;
	display: inline-block;
}
#article .right {
	float:right;
}







