body {
	margin: 0;
}

nav {
	background-color: aliceblue;
	display: flex;
	/* Logo and list of links should be separated */
	justify-content: space-between;
	align-items: center;
	padding: 40px;
}
nav img {
	height: 100px;
}
nav ul {
	/* The list should not have any bullet points */
	list-style: none;
	/* The list items should be horizontally aligned */
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

nav ul li a {
	color: white;
	font-size: 24px;
	margin: 10px;
	padding: 25px;
	text-decoration: none;
	background-color: steelblue;
	border-radius: 45px; 
	text-transform: uppercase;
}

nav ul li a:hover {
	background-color: #274775;
}
