
body {
	margin: 0;
	padding: 50px;
	background-color: black;
	color: white;
}

h1 {
	font-size: 40px;
	text-align: center;
}

img {
	width: 150px;
	margin: 15px;
	border: 6px dotted darkgreen;
	border-radius: 30px;
	float:right;
}


p {
	background-color: lightgreen;
	padding: 60px;
	font-size: 25px;
	margin: 30px;
	line-height: 1.5;
}

ul {
	background-color: white;
	color: black;
	padding: 60px;
	margin: 30px;
}

footer {
	background-color: lime;
	padding: 30px;
	margin-top: 60px;
	text-align: right;
}